<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_Arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,151},{49,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>02_Sole.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,202},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>03_Sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,202},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>04_L_brow.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,228},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>04_R_brow.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,202},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>05_Helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{147,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,113}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>06_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,149}}</string>
                <key>sourceSize</key>
                <string>{135,149}</string>
            </dict>
            <key>07_Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{103,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,81}}</string>
                <key>sourceSize</key>
                <string>{103,81}</string>
            </dict>
            <key>08_Shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,153},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player01.png</string>
            <key>size</key>
            <string>{260,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e68f4d4ef100869739c3734bec070bb:14effdc86f68f44b268c8b8b809e5030:0dda5bf955113b1478741c53cd10ce32$</string>
            <key>textureFileName</key>
            <string>player01.png</string>
        </dict>
    </dict>
</plist>
